black
celery
email-validator
flask-bootstrap
flask-login
flask-mail
flask-migrate
flask-wtf
pandas
pip-chill
python-dotenv
redis
sklearn
# alembic # Installed as dependency for flask-migrate
# amqp # Installed as dependency for kombu
# async-timeout # Installed as dependency for redis
# billiard # Installed as dependency for celery
# blinker # Installed as dependency for flask-mail
# click # Installed as dependency for click-repl, flask, click-didyoumean, black, celery, click-plugins
# click-didyoumean # Installed as dependency for celery
# click-plugins # Installed as dependency for celery
# click-repl # Installed as dependency for celery
# deprecated # Installed as dependency for redis
# dnspython # Installed as dependency for email-validator
# dominate # Installed as dependency for flask-bootstrap
# flask # Installed as dependency for flask-mail, flask-sqlalchemy, flask-migrate, flask-bootstrap, flask-wtf, flask-login
# flask-sqlalchemy # Installed as dependency for flask-migrate
# idna # Installed as dependency for email-validator
# itsdangerous # Installed as dependency for flask, flask-wtf
# jinja2 # Installed as dependency for flask
# joblib # Installed as dependency for scikit-learn
# kombu # Installed as dependency for celery
# mako # Installed as dependency for alembic
# markupsafe # Installed as dependency for mako, wtforms, jinja2
# mypy-extensions # Installed as dependency for black
# numpy # Installed as dependency for pandas, scipy, scikit-learn
# packaging # Installed as dependency for redis
# pathspec # Installed as dependency for black
# platformdirs # Installed as dependency for black
# prompt-toolkit # Installed as dependency for click-repl
# pyparsing # Installed as dependency for packaging
# python-dateutil # Installed as dependency for pandas
# pytz # Installed as dependency for pandas, celery
# scikit-learn # Installed as dependency for sklearn
# scipy # Installed as dependency for scikit-learn
# six # Installed as dependency for click-repl, python-dateutil
# sqlalchemy # Installed as dependency for flask-sqlalchemy, alembic
# threadpoolctl # Installed as dependency for scikit-learn
# tomli # Installed as dependency for black
# typing-extensions # Installed as dependency for black
# vine # Installed as dependency for amqp, celery, kombu
# visitor # Installed as dependency for flask-bootstrap
# wcwidth # Installed as dependency for prompt-toolkit
# werkzeug # Installed as dependency for flask
# wrapt # Installed as dependency for deprecated
# wtforms # Installed as dependency for flask-wtf