<table>
    <tr valign="top">
        <td>{{ match.timestamp }}</td>
    </tr>
    <tr valign="top">
        <td>
            <a href="{{ url_for('user', username=match.attacker.username) }}">
                {{ match.attacker.username }}</a> attacked
            <a href="{{ url_for('user', username=match.defender.username) }}">{{ match.defender.username }} </a>
        </td>
    </tr>
    <tr valign="top">
        <td>
            <a href="{{ url_for('user', username=match.attacker.username) }}"> {{ match.attacker.username }}</a>
            scored <b>{{ match.attacker_score }}</b>
        </td>
    </tr>
</table>
