<table class="table table-hover">
    <tr>
        <th>Attacker Team</th>
        <th>Defender Team</th>
        <th>Round</th>
        <th>Match State</th>
    </tr>
    <tr>
        <td>
            <a href="{{ url_for('team', team_name=match.attacker_team.team_name) }}">
                {{ match.attacker_team.team_name }}</a>
        </td>
        <td>
            <a href="{{ url_for('team', team_name=match.defender_team.team_name) }}">{{ match.defender_team.team_name }}
            </a>
        </td>
        <td>
            {{ match.round }}
        </td>
        <td>
            {% if match.match_done %} ✅ {% else %} ❌ {% endif %}
        </td>
    </tr>
</table>
