{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<h1>
    In progress matches
</h1>
<hr>
<table class="table table-hover">
    <tr>
        <th>Attacker Team</th>
        <th>Defender Team</th>
        <th>Round</th>
        <th>Match State</th>
    </tr>
    {% for match in matches %}
    {% include '_match.html' %}
    {% endfor %}
</table>
<nav aria-label="...">
    <ul class="pager">
        <li class="previous{% if not prev_url %} disabled{% endif %}">
            <a href="{{ prev_url or '#' }}">
                <span aria-hidden="true">&larr;</span> Newer matches
            </a>
        </li>
        <li class="next{% if not next_url %} disabled{% endif %}">
            <a href="{{ next_url or '#' }}">
                Older matches <span aria-hidden="true">&rarr;</span>
            </a>
        </li>
    </ul>
</nav>
{% endblock %}
