{% extends "base.html" %}

{% block app_content %}
<h1>
    Leaderboard
</h1>
<hr>
<table class="table table-hover">
    <tr>
        <th>Ranking</th>
        <th>Team name</th>
        <th>Utility Score</th>
        <th>Attack Performance</th>
        <th>Score</th>
    </tr>
    {% for item in team_items %}
    <tr>
        <td>
            {{ item.ranking }}
        </td>
        <td>
            <a href="{{ url_for('team', team_name=item.team_name) }}">
                {{ item.team_name }}</a>
        </td>
        <td>
            {{ item.utility_score }}
        </td>
        <td>
            {{ item.attack_peformance }}
        </td>
        <td>
            {{ item.score }}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
