{% extends "base.html" %}

{% block app_content %}
<h1>Setting the phase</h1>
<p>Usage: <code>{{ url_for('set_phase', phase="None") }}</code> with <code>phase</code> in:
<ul>
    <li><a href="{{ url_for('set_phase', phase='Attack') }}">Attack</a></li>
    <li><a href="{{ url_for('set_phase', phase='Defence') }}">Defence</a></li>
    <li><a href="{{ url_for('set_phase', phase='None') }}">None</a></li>
    <li><a href="{{ url_for('set_phase', phase='Both') }}">Both</a></li>
</ul>
</p>
<p><a href="{{ url_for('index') }}">Back</a></p>
{% endblock %}
